body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
    gap: 0; 
}

#line1, #line2, #line3, #line4 {
    flex-basis: 100%; 
    display: flex;
    justify-content: center; 
    margin: 0; 
    padding: 0; 
}

section {
    margin: 0 8px; 
    padding: 0; 
}

h3 {
    margin: 0; 
    padding: 0; 
    font-size: 60px;
    font-style: italic;
}

#fadeIn1 {
    animation: fadeIn 2s ease-in-out;
}

#fadeIn2 {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out 1s forwards; 
}

#fadeIn3 {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2s forwards; 
}

#fadeIn4 {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out 3s forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.root {
    color: #40251B;
}

@keyframes moveUp {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-50px); 
    }
}

.up {
    display: inline-block; 
    animation: moveUp 3s ease-in-out infinite; 
    color: paleturquoise; 
}

@keyframes moveDown {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(50px); 
    }
}

.down {
    
    display: inline-block; 
    animation: moveDown 3s ease-in-out infinite; 
    color: gray; 
}

.soil {
    color: #26150F;
}

.day {
    color: white; /* Base text color */
    text-shadow: 
        0 0 10px white, /* White glow */
        0 0 20px white, 
        0 0 30px yellow, /* Yellow glow */
        0 0 40px yellow; 
}

.scared {
    color: darkred;
    text-decoration: none;
}

.scared:hover {
    color: darkred; /* Base text color */
    text-shadow: 
        0 0 10px lightcoral, /* Dark red glow */
        0 0 20px crimson, /* Crimson glow */
        0 0 30px firebrick, /* Firebrick glow */
        0 0 40px red; /* Red glow */
}